.row {
  background: #348C3D;
}


.flexslider {

  background-color: transparent;
  border: none;
  .slides {
    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

.facebook,.twitter {
  height: 80px;

  p {
    position: relative;
    top:35px;
  }

}

.twitter-wrapper {
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
}

#header.sticky
{
  position: fixed;
  background-color: #fff;
  width: 100%;
  max-width: 75rem;
  z-index: 1;
  -webkit-box-shadow:0 10px 5px #264729;
  -moz-box-shadow:0 10px 5px #264729;
  box-shadow:0 10px 5px #264729;
}

.menu {

  display:block;
  width: 100%;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  height: auto;
}


div.menu-centered {
  > .menu {
    display: inline;

    a {
      color: #000;
    }

  }
}