h1 {

  font-size: 1.5rem;

  @media screen and (min-width: 20em) {
    font-size: 2rem !important;
  }
}


.row {
  background: #348C3D;
}

.flexslider {

  background-color: transparent;
  border: none;
  .slides {
    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

.facebook,.twitter {
  height: 80px;

  p {
    position: relative;
    top:35px;
  }

}

.twitter-wrapper {
  margin: 0 auto;

  margin-left: 200px;
  margin-right: 200px;

  @include breakpoint(medium only) {
    margin-left: 50px;
    margin-right: 50px;
  }


}

.top-bar, .top-bar ul {
  background-color: #fff !important;
}

#header
{
  padding-top: 15px;
  .logo-licence {
    font-size: 11px;
    color: #000;
    display: block;
    letter-spacing: normal;
    padding-bottom: 5px;
  }

  .logo-content {
    span {
      color: #348C3D;
      font-weight: bold;
      letter-spacing: 5px;
      font-size: 13px;

      @include breakpoint(large only) {
        font-size: 50px;
      }
    }
  }

  &.sticky {

    position: fixed;
    top: 0;
    background-color: #348C3D;
    width: 100%;
    max-width: 75rem;
    z-index: 1;
    -webkit-box-shadow: 0 10px 5px #264729;
    -moz-box-shadow: 0 10px 5px #264729;
    box-shadow: 0 10px 5px #264729;

  }

}

.menu {

  display:block;
  width: 100%;


}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  height: auto;
}


div.menu-centered {
  > .menu {
    display: inline;

    a {
      color: #000;
    }

  }
}

form {
  max-width: 40rem;
  padding-left: 40px !important;
  padding-right: 40px !important;
  margin: 0 auto !important;
}

.imprint {

}