<div class="imprint row"  style="padding-bottom: 100px ;">
    <div class="large-12 small-12 column text-center">
        <h2>Impressum</h2>

        <h3>Herausgeber</h3>

        <h4>Werder Fanclub #twerder</h4>
        <p>Vertreten durch den Vorstand</p>

        <h4>Postanschrift</h4>
        <p>Kirsten Sander</p>
        <p>Gustav-Heinemann-Str. 24</p>
        <p>28215 Bremen</p>
        <p><a href="https://twitter.com/kirstiepinkie">@kirstiepinkie</a></p>
        <h4>Inhaltlich Verantwortlicher</h4>
        <p>der Vorstand</p>
        <p><a href="https://twitter.com/Fireflie8">@fireflie8</a></p>
        <p><a href="https://twitter.com/Doubleface_hb">@doubleface</a></p>
        <p><a href="https://twitter.com/kirstiepinkie">@kirstiepinkie</a></p>
        <p>
            <span  class="logo-licence text-center"><a href="http://creativecommons.org/licenses/by-nd/4.0/" target="_blank"><img src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png"></a>&nbsp;WFC #twerder-Logo by Ingo Wagener Licensed under a Creative Commons AttributionNoDerivatives 4.0 International License.</span>
        </p>

    </div>
</div>
