<div class="row">
    <div id="header" class="sticky">
        <div class="large-4 medium-4 small-4 columns twitter">
            <p class="text-center">
                <a href="https://twitter.com/WFCTWERDER" class="twitter-follow-button" data-show-count="false">Follow @WFCTWERDER</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
        </div>
        <div class="large-4 medium-4 small-4 columns">
            <p class="text-center">
                <a href="#"></a><img class="logo" src="http://placehold.it/350x150"/>
            </p>
        </div>
        <div class="large-4 medium-4 small-4 columns facebook">
            <p class="text-center">

                <a href="https://www.facebook.com/wfctwerder/?fref=ts">Facebook</a>
            </p>
        </div>
        <div class="row" style="margin-left: 0;margin-right:0; ">
            <div class="large-12 columns">
                <div class="menu-centered">
                    <ul class="menu">
                        <li><a href="#">Über uns</a></li>
                        <li><a href="member.html">Mitglied werden</a></li>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Datenschutz</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>