<div class="row">
    <div id="header" class="sticky">
        <div class="large-12 medium-12 small-12 columns">
            <p class="text-center logo-content" style="background-color: #fff;">
                <span>Fanclub&nbsp;</span> <a href="#"></a><img class="logo" src="{{root}}assets/img/twerder-logo.png"/> <span> &nbsp;#Twerder</span>
            </p>
        </div>

        <div class="row" style="margin-left: 0;margin-right:0; padding-bottom: 15px; ">
            <div class="large-12 columns">
                <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
                    <button class="menu-icon" type="button" data-toggle></button>
                    <div class="title-bar-title">Menu</div>
                </div>
                <div class="top-bar" id="example-menu">
                    <div class="top-bar-left">
                        <ul class=" medium-vertical large-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown">
                            <li><a href="index.html">Startseite</a></li>
                            <li><a href="https://twitter.com/WFCTWERDER" target="_blank">Wir bei Twitter</a></li>
                            <li><a href="https://www.facebook.com/wfctwerder" target="_blank">Auch bei Facebook</a></li>
                            <li><a href="https://twitter.com/Weserfunk" target="_blank">der Weserfunk</a></li>
                            <li><a href="uberuns.html">Über uns</a></li>
                            <li><a href="member.html">Wenn Du mitmachen willst</a></li>
                            <li><a href="privacy.html">Datenschutz</a></li>
                            <li><a href="imprint.html">Impressum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>