<div class="row">
    <div class="large-12 small-12 columns">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="assets/img/IMG_1274.JPG">
                </li>
                <li>
                    <img src="assets/img/IMG_3393.JPG">
                </li>
                <li>
                    <img src="assets/img/IMG_3473.JPG">
                </li>
                <li>
                    <img src="assets/img/IMG_6607.JPG">
                </li>
                <li>
                    <img src="assets/img/IMG_6714.JPG">
                </li>
                <li>
                    <img src="assets/img/IMG_8548.JPG">
                </li>
            </ul>
        </div>
    </div>
</div>