
<div class="row"  style="padding-bottom: 100px ;">
    <div class="large-12 small-12 columns text-center">


        <h3>Der Werder Fanclub auf Twitter aktiver Werderfans.</h3>
        <p>Gegründet haben wir uns am 14.03.2015 in unserer Stammkneipe, dem Eisen.</p>
        <p>Hier steht auch die "11" (Spitzname Hans), ein Preis der 11FREUNDE Redaktion für die "Beste Fanaktion der Saison".</p>
        <p>Dieser wurde den Werder-Fans für die #greenwhitewonderwall verliehen.</p>
        <p>Da die Aktion in unseren Reihen ihren Anfang fand, durften wir ihn stellvertretend entgegennehmen.</p>
        <p>Außerdem hängt hier ein signiertes Werder-Trikot, welches Klaus Filbry uns während der #greenwhitewonderwall im Namen der Mannschaft als Dank übergeben hat.</p>

        <p><strong><u>Homophobie, Rassismus, Faschismus und jede Art von Diskriminierung hat bei uns keinen Platz!</u></strong></p>



    </div>
</div>
